body {
  background-color: #39cccc; }
  body h1 {
    text-align: center; }
  body .oneDayTemp {
    border: 2px solid #85144b;
    background-color: #ffdc00;
    margin: 20px;
    padding: 20px; }
  body .nDaysTemp {
    border: 2px solid #85144b;
    background-color: #faebd7;
    margin: 20px;
    padding: 20px; }
  body p {
    font-weight: bold;
    font-size: 1.5rem;
    display: inline; }
  body .date {
    float: right; }
  body .txt {
    width: 200px;
    height: 50px;
    border-radius: 7px;
    margin: 0 15px; }
  body .btn {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 0 15px; }
  body .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none; }
